div {
  height: 30px;
}
div:nth-child(1) {
  background: #00FF00;
}
div:nth-child(2) {
  background: #00CC00;
}
div:nth-child(3) {
  background: #009900;
}
div:nth-child(4) {
  background: #006600;
}
div:nth-child(5) {
  background: #003300;
}
div:nth-child(6) {
  background: #000000;
}
