/* 배경 */
html {
    background-image: url("../resources/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#top_navigation_toggle_button_box{
    background-color: springgreen;
}

/* 상단 네비게이션 */
#top_navigation {
    background-color: rgba(0, 255, 127, 0.9);
}

/* 공식 링크 */
.official_link {
    border: 1px solid #191919;
}

/* 이동 버튼 박스 */
#move_button_box {
    border-radius: 15px 0 0 15px;
    background-color: springgreen;
}

/* 이동 버튼 */
.move_button{
    border: 1px solid #191919;
    border-width: 1px 0;
}

/* 메인 타이틀 */
#main_title {
    color: mintcream;
}

/* 메인 타이틀 악센트 */
.main_title_accent {
    color: springgreen;
}

/* 네비게이션 바 */
#navigation_bar {
    border-radius: 15px 15px 0 0;
    background-color: springgreen;
}

/* 게시글 박스 */
#post_box {
    border-radius: 0 0 15px 15px;
    background-color: rgba(25, 25, 25, 0.9);
}

/* 게시글 제목 */
.post_title {
    color: springgreen;
}

/* 게시글 본문 */
.post_body {
    color: mintcream;
}

/* 게시글 사이 구분선 */
.horizontal_line_between_posts {
    border-color: springgreen;
}

/* 푸터 */
#footer {
    border-radius: 15px 15px 0 0;
    background-color: rgba(0, 255, 127, 0.9);
}